footer.page-footer 
   .page-footer__wrapper
      .page-footer__box 
         a.page-footer__link(href="#") Latest Posts
         a.page-footer__link(href="#") Search 
         a.page-footer__link(href="#") Privacy Policy
         a.page-footer__link(href="#") Popular Posts 
         a.page-footer__link(href="#") Contact Information 
         a.page-footer__link(href="#") Terms of Use 
      +social('instagram.svg', 'twitter.svg', 'facebook-f.svg')
   .page-footer__copyright 
      p.page-footer__text &copy; Copyright 2019. All rights reserved.     
