header.page-header
   +social('instagram.svg', 'twitter.svg', 'facebook-f.svg')                
   h1.page-header__title Hipsum Blog 
   .page-header__wrapper 
      a.page-header__link(href="#") 
         img.page-header__img(src="img/search.svg", alt="" width="20" height="20")
      button.page-header__button(type="button") Subscribe           