mixin social(img, imgt, imgh)

   ul.social-nav__list 
      li.social-nav__item
         a.social-nav__link(href="#")
            img.social-nav__img(src="img/" + img, alt="" width="25" height="25")
      li.social-nav__item
         a.social-nav__link(href="#")
            img.social-nav__img(src="img/" + imgt, alt="" width="25" height="25") 
      li.social-nav__item
         a.social-nav__link(href="#")
            img.social-nav__img(src="img/" + imgh, alt="" width="25" height="25")              
